@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Averia+Sans+Libre:wght@300&family=Baumans&family=Changa&family=Courgette&family=Do+Hyeon&family=Dongle&family=Dosis&family=Electrolize&family=Exo&family=Expletus+Sans&family=Federo&family=Flamenco&family=Gemunu+Libre&family=Gugi&family=Inder&family=Josefin+Sans&family=K2D&family=Kdam+Thmor+Pro&family=Merienda&family=Mitr&family=MuseoModerno&family=Nova+Flat&family=Nova+Round&family=Play&family=Poiret+One&family=Poppins:wght@400;700&family=Prosto+One&family=Quantico&family=Saira+Stencil+One&family=Text+Me+One&family=Turret+Road&family=Yatra+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Play', sans-serif;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Prosto One', cursive;
    color: #00e1ff;
    margin: 1em 0 0 1em;
}

section {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    margin-right: 0.5em;
}

img {
    width: 400px;
    margin-left: 0.5em;
}

.f-to-c, .c-to-f {
    padding: 15px 50px 15px 50px;
    background-color: #00e1ff;
    box-shadow: 5px 10px 15px black;
    font-size: larger;
    color: black;
    border-radius: 20px;
}

.f-to-c {
    margin: 0 0 3.5em 0;
}

.c-to-f {
    margin: 0 0 0 0;
}

footer {
    margin-top: auto;
    background-color: #00e1ff;
}

.copyright {
    text-align: center;
    font-size: 15px;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.copyright a {
    color: black;
}

@media all and (max-width: 780px) {
    h1 {
        margin: 1em 0.3em 0 0.3em;
        text-align: center;
        font-size: 28px;
    }

    section {
        flex-direction: column-reverse;
    }

    nav {
        margin-top: 2em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8em;
    }

    .f-to-c, .c-to-f {
        padding: 15px 30px 15px 30px;
    }

    img {
        width: 200px;
        margin-top: 4em;
    }
}